.banner {
    &__top {
        @include size(100%, 62rem);
        background: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url("./images/img-banner.jpg");
        @include flexBox(center, center);
    }
    &__content {
        @include size(94rem, 40rem);
        padding-top: 7.2rem;
        padding-bottom: 14.6rem;
        text-align: center;
    }
    &__title { 
        font-weight: 700;
        font-size: 2.4rem;
        letter-spacing: 0.1px;
        color: #F6F6F6;
        display: inline-block;
        margin-bottom: 5rem;
    }
    &__heading {
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 5.8rem;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.2px;
        margin-top: 0;
        margin-bottom: 6rem;
    }
    &__desc {
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.2px;
        margin-bottom: 6rem;
    }
}