.banner {
    &__top {
        @include size(100%, 62rem);
        background: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url("./images/img-banner.jpg");
        @include flexBox(center, center);
    }
    &__title { 
        display: inline-block;
        font-weight: 700;
        font-size: 2.4rem;
        letter-spacing: 0.1px;
        line-height: 36px;
    }
}