.footer {
    padding: 6rem 0;
    &__main {
        @include flexBox(center, space-between);
    }
    &__image {
        width: calc(33.33% - 16rem);
    }
    &__social {
        width: calc(33.33% - 16rem);
        @include flexBox(center, space-between);
    }
    &__icons {
        color: $primary-color;
        font-size: 3.5rem;
    }
    &__icons:not(:last-child) {
        margin-right: 2.8rem;
    }
    &__copyright {
        width: calc(33.33% - 16rem);
        font-family: $third-font;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #5C5C5C;
    }
    @include maxWidth(1399px) {
        &__image,
        &__copyright,
        &__social {
            width: calc(33.33% - 10rem);
        }
    }
    @include maxWidth(1023px) {
        &__copyright {
            font-size: 1rem;
        }
    }
}