.footer {
    &__main {
        @include flexBox(stretch, space-between);
    }
    &__image {
        width: calc(33.33% - 16rem);
    }
    &__social {
        width: calc(33.33% - 16rem);
        @include flexBox(center);
    }
    &__copyright {
        width: calc(33.33% - 16rem);
    }
}