.header {
    @include size(100%, 15.7rem);
    &__image {
        display: inline-block;
    }
    &__top {
        @include flexBox(center, space-between);
    }
    &__menu {
        @include flexBox(center);
    }
    &__item:not(:first-child) {
        margin-left: 10.4rem;
    }
    &__link {
        font-size: 1.6rem;
        color: $secondary-color;
        font-weight: 600;
        transition: all 0.2s linear;
        &:hover {
            color: $primary-color;
        }
    }
    @include maxWidth(1023px) {
        height: 12rem;
    }
}