.header {
    &__image {
        object-fit: cover;
    }
    &__top {
        @include flexBox(center, space-between);
    }
    &__menu {
        @include flexBox(center);
        padding-right: 0;
    }
    &__item:not(:first-child) {
        margin-left: 10.4rem;
    }
}