.work {
    &__caption {
        font-family: $secondary-font;
        font-weight: 600;
        font-size: 4.4rem;
        letter-spacing: 0.1px;
        color: #000;
        opacity: 0.8;
        margin-bottom: 6rem;
        text-align: center;
        display: inline-block;
    }
}