.work {
    text-align: center;
    &__caption {
        font-family: $secondary-font;
        font-weight: 600;
        font-size: 4.4rem;
        letter-spacing: 0.1px;
        color: #000;
        opacity: 0.8;
        margin-top: 7rem;
        margin-bottom: 6rem;
        display: inline-block;
    }
    &__item {
        @include flexBox(center);
    }
    &__image {
        width: 50%;
        @include flexBox(stretch, center);
    }
    &__content {
        width: 50%;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FA4A0C;
        display: inline-block;
    }
}